{%- set vrrp = pillar['vrrp_configuration'] %}
{%- set state = 'MASTER' if vrrp['master_host'] == grains['id'] else 'BACKUP' %}
{%- set interface = vrrp['interface'] %}
{%- set router_id = vrrp['router_id'] %}
{%- set advert_int = vrrp['advert_int'] %}
{%- set auth_type = vrrp['auth_type'] %}
{%- set auth_pass = vrrp['auth_pass'] %}
{%- set virtual_ips = vrrp['virtual_ips'] -%}
vrrp_instance string {
    state {{ state }}
    interface {{ interface }}
    virtual_router_id {{ router_id }}
    priority 100
    advert_int {{ advert_int }}
    authentication {
        auth_type {{ auth_type }}
        auth_pass {{ auth_pass }}
    }
    virtual_ipaddress {
        {% for ip in virtual_ips -%}
        {{ ip }}
        {% endfor %}
    }
}