{% set config = pillar['commonConfig'].items() -%}
{% set slaveConfig = pillar['slaveConfig'].items() -%}
{% set host = grains['host'] -%}
{% set node = pillar['nodes'] | selectattr('hostname', 'equalto', host) | first -%}
[mysqld]
{% for key,value in config %}
{{- key }} = {{ value }}
{% endfor %}
server-id = {{ node['serverId'] }}
{% if node['binlog'] == True %}
log-bin = mysql-{{ node['hostname'] }}
log_slave_updates = ON
{% endif %}
{% if node['isMaster'] == False %}
{% for key,value in slaveConfig %}
{{- key }} = {{ value }}
{% endfor %}
{% endif %}